/* Import the Font Familly is Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0px;
}

/* Shared Colure */
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2{}
.dark-3{
    color: rgba(114, 114, 114, 1);
}

/* Total header section */
.headers{
    background-color: rgba(255,144,14,0.1);
  
}
/* Navigation bar  */

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
}
.nav-name{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-list{
    display: flex;
    gap: 3rem;
}
.navigation{
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.5rem;
}
.nav-list li{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
}

/* Banner section site  */
.banner{
     max-width: 1440px;
    margin: 0 auto;
}
.banner-container{
     max-width: 862px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 3rem;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    /* text-align: center; */
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1.3rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}
.banner-image{
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 3rem;
}

/* Feature Section */

.feature{
     
}
.feature-1{

}
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 3rem; */
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 8rem;
   
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.feature-image img{
    width: 100%;
    border-radius: 0.5rem;
}
.feature-content{
    margin-left: 8rem;
    max-width: 540px;
    margin: 0 auto;
}
.feature-title{}
.quick{
    font-weight: 500;
    font-size: 2.8rem;
    color: #727272;
}
.of{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
.feat{
    font-weight: 700;
    font-size: 2.8rem;
    color: #FF900E;
}
.feature-description{
     font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #727272;
}

/* Enjoy section */

.enjoy{

    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 7.5rem;
}
.enjoy-container{
    display: flex;
    gap: 7rem;
}
.enjoy-content{
    max-width: 586px;
    margin: 0 auto;
}
.main-1{
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
}
.main-2{
    width: 5px;
    height: 106px;
    margin-top: 50px;
    background-color: #ff900e;
}
.enjoy-main-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    /* margin-top: 0px; */

}
.enjoy-main-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #727272;
}
.enjoy-main-div{}
.enjoy-div{
    border-radius: 0.5rem;
    box-shadow: 0px 4px 30px #727272;
    padding: 1.9rem 2.2rem ;

}
.enjoy-title{
    font-weight: 600;
    font-size: 1.2rem;
    color: #131313;
}
.enjoy-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.enjoy-image{
   
}
.enjoy-image>img{
     width: 100%;
}

/* enjoy button */
#enjoy-btn{
    padding: 1.8rem 1.9rem;
    border-radius: 0.5rem;
    margin-left: -4.6rem;
    margin-top: -6.2rem; 
    
}
.btn-enjoy{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.4rem;
    color: #ffffff;
}
.btn-enjoy-des{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #ffffff;
}



/* Media Query for Responsive  */

@media screen and (max-width: 576px) {
    .nav-list{
        flex-wrap: wrap;
    }
    .nav-content{
        flex-direction: column;
    }

    /* Feature Section responsive */

    .feature-container{
        flex-direction: column;
    }
    
    /* Feature section of Enjoy for resposive */
    .enjoy-container{
        flex-direction: column;
    }
    #enjoy-btn{
        margin-left: 2rem;
        margin-top: -2.5rem;
        
    }
}
